.appBar {
  justify-content: center;
  align-items: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: purp;
  padding-left: 16px;
  margin-bottom: 20px;
}

.grid {
  padding: 10px;
}